MONGO_URI='mongodb+srv://gokulHesta:password98@gokucluster.9xdqisc.mongodb.net/NodeSaas'

JWTTOKEN=
PORT=5001

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# DATABASE_URL="postgresql://admin:hestabit@Hestabit:5432/serpcrunch_db?schema=public"


JWT_SECRET="0569a0763725ad4f"

REDIS_URL= "redis://127.0.0.1:6379"
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_PASSWORD='your_redis_password'
REDIS_EXPIRY_TIME=60

# SANDBOX API
# PRODUCTION API
DATA_SOURCE_BASE_URL = ''
DATA_SOURCE_USERNAME = ''
DATA_SOURCE_PASSWORD = ''

API_LIMIT=3000

MAIL_HOST='sandbox.smtp.mailtrap.io'
MAIL_PORT=2525
MAIL_USER='7e068da98d9f98'
MAIL_PASS='dd3c87185ab81d'

STRIP_KEY='pk_test_51NIqnSSIM9QYllxQGecqd87GvcoSSPN245Pk3DnqB1X4AkMZk6UItoE0NHabRk2CeEv31yR7AaDPsQgIUZgQqW0a00mdqG7V2n'
STRIPE_SECRET='sk_test_51NIqnSSIM9QYllxQSOyK4cDbjB2rRZSAG6oaK4S9AFhfoBwuscgv0ZRRJgcg3qurD26SfMT9LF1A7LBLxxfdiYkQ00rFqqo44k'
STRIPE_WEBHOOK_SECRET='whsec_YJ8iFZR1iw0Egw24QLLUqGso5RL2Zz3m'
STRIPE_SUCCESS_URL='http://localhost:3000/success'
STRIPE_CANCEL_URL='http://localhost:3000/cancel'
